asgiref==3.11.1
astroid==4.0.4
attrs==26.1.0
Automat==25.4.16
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.0.post2
charset-normalizer==3.4.6
click==8.3.1
constantly==23.10.4
cryptography==46.0.6
defusedxml==0.7.1
dill==0.4.1
dj-database-url==3.1.2
Django==4.2
django-allauth==65.1.0
django-cors-headers==4.9.0
django-debug-toolbar==4.2.0
django-filter==25.1
django-stubs==6.0.2
django-stubs-ext==6.0.2
django-upgrade==1.30.0
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
djangorestframework_simplejwt==5.5.1
docopt==0.6.2
dodgy==0.2.1
flake8==7.3.0
flake8-polyfill==1.0.2
gunicorn==25.3.0
h11==0.16.0
hpack==4.1.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==9.0.0
Incremental==24.11.0
isort==8.0.1
lazy-object-proxy==1.12.0
Markdown==3.10.2
mccabe==0.7.0
num2words==0.5.14
oauthlib==3.3.1
packaging==26.0
pep8-naming==0.10.0
pillow==12.1.1
platformdirs==4.9.4
prospector==1.18.0
psycopg2-binary==2.9.11
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydocstyle==6.3.0
pyflakes==3.4.0
PyHamcrest==2.1.0
PyJWT==2.12.1
pylint==4.0.5
pylint-celery==0.3
pylint-django==2.7.0
pylint-flask==0.6
pylint-plugin-utils==0.9.0
python-dotenv==1.2.2
python3-openid==3.2.0
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.33.0
requests-oauthlib==2.0.0
requirements-detector==1.5.0
semver==3.0.4
setoptconf-tmp==0.3.1
six==1.17.0
snowballstemmer==3.0.1
sqlparse==0.5.5
tokenize_rt==6.2.0
toml==0.10.2
tomlkit==0.14.0
txaio==25.12.2
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
webencodings==0.5.1
whitenoise==6.12.0
wrapt==2.1.2
zipp==3.23.0
zope.interface==8.2
