.box {
  .card-header {
    color: white;
    background-color: #616161;
  }
}

.box:hover {
    .card-header {
        color: white;
        background-color: #D3234C;
    }
    border-color: #D3234C;
}
.bheader {
  color: #D3234C!important;
}
.incomplete {
    .card-header {
        color: white;
        background-color: #E1724A;
    }
    .card-body{
        
        background-color: #FDF5E6;
    }
}

.incomplete:hover{
    .card-header {
        color: white;
        background-color: #FF9800;
    }
    .card-body {
        background-color: #FDF5E6;
    }
    border-color: #FF9800;
}