{% extends 'base/main.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table-fixed-columns.min.css'%}">

<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold w3-text-red">Table de récapitulation</h6>
  </div>
  <div class="card-body">
    <div id="toolbar">
      <button class="btn btn-secondary" onclick="window.location.href='/exportateur/create'"><i class="fas fa-plus-circle w3-margin-right"></i>Nouvelle enregistrement</button>

    </div>
    <div class="table-responsive text-nowrap">
      <table class="table-striped table-hasthead text-nowrap" id="tableTest1" data-search="true" data-fixed-columns="true" data-fixed-number="1" data-fixed-right-number="1" data-toggle="table" data-show-columns="true" data-pagination="true"
        data-sortable="true" data-show-export="true" data-show-button-icons="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
        <thead class="thead-dark gray-dark">
          <tr>
            <th data-sortable="true">Nom</th>
            <th data-sortable="true">Adresse</th>
            <th data-sortable="true">Email</th>
            <th data-sortable="true">NIF</th>
            <th data-sortable="true">STAT</th>
            <th data-sortable="true">RCS</th>
            <th data-sortable="true">ID BSC</th>
            <th data-sortable="true">Login</th>
            <th data-sortable="true">Password</th>
            <th data-sortable="true">Banque</th>
            <th data-sortable="true">Num compte</th>
            <th data-sortable="true">CIN Gerant</th>
            <th data-sortable="true">Telephone</th>
            <th>Option</th>
          </tr>
        </thead>

        <tbody>
          {% for i in exportateurs %}
            <tr>
              <td>{{i.nom}}</td>
              <td>{{i.adresse | truncatechars:10}}</td>
              <td>{{i.email}}</td>
              <td>{{i.NIF}}</td>
              <td>{{i.STAT}}</td>
              <td>{{i.RCS}}</td>
              <td>{{i.ID_BSC}}</td>
              <td>{{i.login}}</td>
              <td>{{i.password}}</td>
              <td>{{i.banque}}</td>
              <td>{{i.numCompte}}</td>
              <td>{{i.CIN_gerant}}</td>
              <td>{{i.numTel}}</td>
              <td>
                <a href="{% url 'editExportateur' pk=i.pk %}" class="btn btn-success">Ed</a>

                <a href="{% url 'deleteExportateur' pk=i.pk %}" class="btn btn-danger">Sup</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% load static %}
<!-- Core plugin JavaScript-->
<script src="{% static 'base/js/popper.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap-table.min.js'%}"></script>

<!-- Custom script for this page -->
<script src="{% static 'base/js/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'base/js/tableExport.min.js' %}"></script>
<script src="{% static 'base/js/jspdf.min.js'%}"></script>
<script src="{% static 'base/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-mobile.min.js' %}"></script>
<!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script> -->
<script type="text/javascript">
  $(function() {
    $('#tableTest1').bootstrapTable({
      height: $(window).height(),
      onAll: function(name, args) {
        fixleftwidth()
      }
    });

    function fixleftwidth() {
      setTimeout(function() {
        var fixColumnTds = $(".fixed-table-body-columns tr:first-child td");
        var fixNum = fixColumnTds.length;
        var tableBody = $(".fixed-table-body tbody tr:first-child td");
        for (var i = 0; i < fixNum; i++) {
          fixColumnTds.eq(i).width(tableBody.eq(i).width())
        }
      }, 0)
    }
    fixleftwidth()
    $(window).resize(function() {
      $('#tableTest1').bootstrapTable('resetView');
      fixleftwidth()
    });
  });
  $(document).ready(function () {
    $("#pageTitle").addClass("fas fas fa-ship fa-fw w3-margin-right text-gray-800").parent().toggleClass("text-primary text-gray-800");
    $("#exportateurMenu").addClass("active")
    $("#accordionSidebar").removeClass("bg-gradient-primary").addClass("bg-gradient-dark")
  })
</script>

{% endblock %}
