{% extends 'base/blankbone.html'%}
{% if request.user.is_staff %}
{% block sidebar %}
{% include "base/sidebar.html" %}
{% endblock sidebar %}
{% endif %}
{% block topbar %}
{% include "base/topbar.html" %}
{% endblock topbar %}
{% block content %}
{% load static %}
{% load l10n %}
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table-fixed-columns.min.css'%}">
<style media="screen">
  .table-plain tbody tr,
  .table-plain tbody tr:hover,
  .table-plain tbody td {
    background-color: transparent;
    border: none;
  }
</style>
{% localize on %}

<div class="card shadow mb-4">
  <div class="card-header mb-4">
    <h6 class="m-0 font-weight-bold w3-text-red">Solde</h6>
  </div>
  <div class="card-body">

    <div class="row justify-content-lg-start">
      <div class="col-md-6 col-lg-2">

        {% for solde in solde %}

        <table class="w3-table w3-bordered text-nowrap text-gray-800">
          <thead>
            <tr>
              <th>Solde initial [Ar]</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{% url 'refSoldeTana' pk=solde.pk %}" class="btn btn-success"><i class="fas fa-edit w3-margin-right"></i>Modifier</a></td>
              <td class="w3-right-align w3-large">{{solde.soldeInitial}}</td>
            </tr>
          </tbody>

          </tbody>
          <tfooter>
            <tr>
              <th>Solde actuel [Ar]</th>
              <th></th>
            </tr>
          </tfooter>
          <tbody>
            <tr>
              <td></td>
              <td class="w3-right-align w3-large">{{solde.soldeActuel}}</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div>
      <hr class="mb-3">

    </div>




  </div>
</div>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold w3-text-red">Table de récapitulation</h6>
  </div>
  <div class="card-body">
    <div id="toolbar">
      <button class="btn btn-danger" onclick="window.location.href='/caisseTana/create'"><i class="fas fa-plus-circle w3-margin-right"></i>Nouvelle enregistrement</button>

    </div>
    <div class="table-responsive text-nowrap">
      <table class="table-striped table-hasthead text-nowrap" id="tableTest1" data-search="true" data-fixed-columns="true" data-fixed-number="1" data-fixed-right-number="1" data-toggle="table" data-show-columns="true" data-pagination="true"
        data-sortable="true" data-show-export="true" data-show-button-icons="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
        <thead class="text-white bg-danger">
          <tr>
            <th data-sortable="true">Libellee</th>
            <th data-sortable="true">Date</th>
            <th data-sortable="true">Depense</th>
            <th data-sortable="true">Recette</th>
            <th>Option</th>
          </tr>
        </thead>

        <tbody>
          {% for i in caisseTanas %}
          <tr>
            <td>{{i.libellee}}</td>
            <td>{{i.date}}</td>
            <td class="text-right">{{i.depense}}</td>
            <td class="text-right">{{i.recette}}</td>
            <td>
              <a href="{% url 'editCaisseTana' pk=i.pk %}" class="btn btn-success"><i class="fas fa-edit w3-margin-right"></i>Editer</a>

              <a href="{% url 'deleteCaisseTana' pk=i.pk %}" class="btn btn-danger"><i class="fas fa-trash w3-margin-right"></i>Supprimer</a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endlocalize %}
<div id="deleteConfirm" class="modal fade">
  <div class="modal-dialog w3-card-4">
    <div class="modal-content ">
      <header class="modal-header w3-red">
        <h2><i class="fas fa-exclamation-circle fa-fw w3-margin-right"></i>Confirmer</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </header>
      <div class="modal-body w3-pale-red w3-padding-24">
        <p id = "confDelete">Confirmer la suppression de l'enregistrement</p>
      </div>
      <div class="modal-footer justify-content-center w3-pale-red w3-border-0">
        <button type="button" onclick="deleteOp()" class="btn btn-danger">Supprimer</button>
        <button type="button" data-dismiss="modal" class="btn btn-secondary">Annuler</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
{% load static %}
<!-- Core plugin JavaScript-->
<script src="{% static 'base/js/popper.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap-table.min.js'%}"></script>

<!-- Custom script for this page -->
<script src="{% static 'base/js/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'base/js/tableExport.min.js' %}"></script>
<script src="{% static 'base/js/jspdf.min.js'%}"></script>
<script src="{% static 'base/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-mobile.min.js' %}"></script>
<!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script> -->
{% include "base/modal.html" %}
<script type="text/javascript">
  $(function() {
    $('#tableTest1').bootstrapTable({
      height: $(window).height(),
      onAll: function(name, args) {
        fixleftwidth()
      }
    });

    function fixleftwidth() {
      setTimeout(function() {
        var fixColumnTds = $(".fixed-table-body-columns tr:first-child td");
        var fixNum = fixColumnTds.length;
        var tableBody = $(".fixed-table-body tbody tr:first-child td");
        for (var i = 0; i < fixNum; i++) {
          fixColumnTds.eq(i).width(tableBody.eq(i).width())
        }
      }, 0)
    }
    fixleftwidth()
    $(window).resize(function() {
      $('#tableTest1').bootstrapTable('resetView');
      fixleftwidth()
    });
  });
</script>
<script>
$(document).ready(function(){
  $("#accordionSidebar").toggleClass("bg-gradient-primary bg-gradient-danger");
  $("#caisseTanaMenu").addClass("active");
  $("#pageTitle").addClass("fas fa-cash-register fa-fw w3-margin-right");
  $("h3").addClass("text-danger");
})
</script>

{% endblock js %}
