{% extends 'base/blankbone.html'%}
{% if request.user.is_staff %}
{% block sidebar %}
{% include "base/sidebar.html" %}
{% endblock sidebar %}
{% endif %}
{% block topbar %}
{% include "base/topbar2.html" %}
{% endblock topbar %}

{% block content %}
<div class="jumbotron w3-pale-red">
  <div class="container justify-content-center">
    <h1 class="w3-xxlarge">Confirmation de suppression</h1>
    <hr class="w3-border-grey">
    <div class="row">

      <div class="lead col w3-text-red">
        <h4>Ete-vous sure de supprimer {{ moto.nom_moto }} ?</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <form action="{% url 'deleteMoto' moto.id %}" method="post" class="justify-content-center">
        {% csrf_token %}
        <input type="submit" value="Supprimer" class="btn btn-danger w3-margin-left">

        <a href="/moto/" class="btn btn-info w3-margin-left">Annuler</a>
      </form>
    </div>
  </div>



</div>
<br><br>
{% endblock content %}
{% block js %}
<script>
$('#motoMenu').addClass("active");
</script>
{% endblock js %}