<div class="card box shadow mb-4">
  <div class="card-header">
    <h4><i class="fas fa-chevron-down fa-fw"></i>Compagnie</h4>

  </div>
  <div class="card-body">
    <div id="Details" class="pint">
      <h5 class="bheader w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>Details</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="Compagnie" class="col control-label">{{form.Nom_Compagnie.label}}</label>
          <div class=" col">
            {{form.Nom_Compagnie}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_adresseTana" class="col control-label">Adresse Tana</label>
          <div class=" col">
            <input type="text" id="id_adresseTana" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="id_adresseTamatave" class="col control-label">Adresse Tamatave</label>
          <div class=" col">
            <input type="text" id="id_adresseTamatave" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="id_email1" class="col control-label">Email 1</label>
          <div class=" col">
            <input type="text" id="id_email1" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="id_email2" class="col control-label">Email 2</label>
          <div class=" col">
            <input type="text" id="id_email2" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="id_email3" class="col control-label">Email 3</label>
          <div class=" col">
            <input type="text" id="id_email3" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="id_contact" class="col control-label">Contact</label>
          <div class=" col">
            <input type="text" id="id_contact" class="form-control">
          </div>
        </div>

      </div>
    </div>
    <div id="BAD" class="pint">
      <h5 class="bheader  w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>BAD</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="Date_BAD" class="col control-label">{{form.Date_BAD.label}}</label>
          <div class=" col">
            {{form.Date_BAD}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_MontantBAD" class="col control-label">{{form.BAD_Montant.label}}</label>
          <div class=" col">
            {{form.BAD_Montant}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_PJ" class="col control-label">{{form.BAD_PJ.label}}</label>
          <div class=" col">
            {{form.BAD_PJ}}
          </div>
        </div>

      </div>
    </div>
    <div id="Overstay" class="pint">
      <h5 class="bheader  w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>Overstay</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="id_Overstay_Nb_jrs" class="col control-label">{{form.Overstay_Nb_jrs.label}}</label>
          <div class=" col">
            {{form.Overstay_Nb_jrs}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Overstay_Montant" class="col control-label">{{form.Overstay_Montant.label}}</label>
          <div class=" col">
            {{form.Overstay_Montant}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Overstay_PJ" class="col control-label">{{form.Overstay_PJ.label}}</label>
          <div class=" col">
            {{form.Overstay_PJ}}
          </div>
        </div>

      </div>
    </div>
    <div id="Surestaries" class="pint">
      <h5 class="bheader  w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>Surestaries</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="id_Surestaries_Nb_jrs" class="col control-label">{{form.Surestaries_Nb_jrs.label}}</label>
          <div class=" col">
            {{form.Surestaries_Nb_jrs}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Surestaries_Montant" class="col control-label">{{form.Surestaries_Montant.label}}</label>
          <div class=" col">
            {{form.Surestaries_Montant}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Overstay_PJ" class="col control-label">{{form.Overstay_PJ.label}}</label>
          <div class=" col">
            {{form.Overstay_PJ}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
