<div class="card box shadow mb-4">
  <div class="card-header card-link">
    <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Dépenses</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="id_Depense_Fixe" class="col control-label">{{form.Depense_Fixe.label}}</label>
      <div class=" col">
        {{form.Depense_Fixe}}
      </div>
    </div>
    <div class="form-group">
      <label for="id_Depense_Autre" class="col control-label">{{form.Depense_Autre.label}}</label>
      <div class=" col">
        {{form.Depense_Autre}}
      </div>
    </div>
  </div>
</div>
