<div class="card box shadow mb-4">
  <div class="card-header">
    <h4><i class="fas fa-chevron-down fa-fw"></i>MICTSL/SMMC</h4>
  </div>
  <div class="card-body">
    <div id="Operation_Type" class="pint">
      <h5 class="bheader  w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>Type de l'operation</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="id_MICTSL_SMMC" class="col control-label">{{form.MICTSL_SMMC.label}}</label>
          <div class=" col">
            {{form.MICTSL_SMMC}}
          </div>
        </div>
        <div class="form-group">
          <label for="Date_MICTSL" class="col control-label">{{form.Date_MICTSL.label}}</label>
          <div class=" col">
            {{form.Date_MICTSL}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Montant_MICTSL" class="col control-label">{{form.Montant_MICTSL.label}}</label>
          <div class=" col">
            {{form.Montant_MICTSL}}
          </div>
        </div>

      </div>
    </div>
    <div id="Magasinage" class="pint">
      <h5 class="bheader  w3-text-pink"><i class="fas fa-caret-down fa-fw"></i>Magasinage</h5>
      <div class="col bbody">
        <div class="form-group">
          <label for="id_Magasinage_Nb_Jrs" class="col control-label">{{form.Magasinage_Nb_Jrs.label}}</label>
          <div class=" col">
            {{form.Magasinage_Nb_Jrs}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Magasinage_Montant" class="col control-label">{{form.Magasinage_Montant.label}}</label>
          <div class=" col">
            {{form.Magasinage_Montant}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_Magasinage_PJ" class="col control-label">{{form.Magasinage_PJ.label}}</label>
          <div class=" col">
            {{form.Magasinage_PJ}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
