{% extends 'base/blankbone.html'%}
{% load auth_extras %}
{% block sidebar %}

{% include 'base/sidebar.html' %}

{% endblock sidebar %}
{% block topbar %}
{% include 'base/topbarOperation.html' %}
{% endblock topbar %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table-fixed-columns.min.css'%}">

<style>
  [disabled~="disabled"] {
    background-color: gray !important;
  }

  .disabled {
    background-color: gray !important;

  }
</style>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold w3-text-red">Table de récapitulation</h6>
  </div>
  <div class="card-body">
    <div id="toolbar" class="">
      <a href="{% url 'createReception'%}" class="btn btn-primary btn-icon-split" data-toggle="tooltip"
        title="Nouvelle enregistrement">
        <span class="icon text-white">
          <i class="fas fa-plus-circle"></i>
        </span>
        <span class="text" id="newRec">Nouvelle enregistrement</span>
      </a>
      <button disabled="disabled" class="btn w3-light-green btn-icon-split disabled" id="btnReception"
        data-toggle="tooltip" title="Réception">
        <span class="icon text-white">
          <i class="fas fa-inbox"></i>
        </span>
        <span class="text text-white" id="edReception">Réception</span></button>
      <button disabled="disabled" class="btn w3-purple btn-icon-split disabled" id="btnPreparation"
        data-toggle="tooltip" title="Préparation">
        <span class="icon text-white">
          <i class="fas fa-inbox"></i>
        </span>
        <span class="text" id="edPreparation">Préparation</span></button>
      </button>
      <button disabled="disabled" class="btn w3-pink btn-icon-split disabled" id="btnDedouanement" data-toggle="tooltip"
        title="Dédouannement">
        <span class="icon text-white">
          <i class="fas fa-ship"></i>
        </span>
        <span class="text" id="edDedouannement">Dédouannement</span></button>
      </button>
      <button disabled="disabled" class="btn w3-red btn-icon-split disabled" id="btnDelete" data-toggle="tooltip"
        title="Supprimer">
        <span class="icon text-white">
          <i class="fas fa-trash"></i>
        </span>
        <span class="text" id="edSupprimer">Supprimer</span></button>
      </button>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table-hasthead text-nowrap" id="tableTest1" data-search="true" data-toggle="table"
        data-show-columns="true" data-pagination="true" data-sortable="true" data-show-export="true"
        data-show-button-icons="true" data-show-pagination-switch="true" data-show-toggle="true" data-toolbar="#toolbar"
        data-click-to-select="true" data-single-select="true" data-checkbox-header="false">
        <thead class="thead-dark gray-dark">
          <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-sortable="true" data-field="ref">Ref</th>
            <th data-sortable="true">Container</th>
            <th data-sortable="true">Num BL</th>
            <th data-sortable="true">Importateur</th>
            {# <th data-sortable="true">Compagnie</th> #}
            <th data-sortable="true">Nombre colis</th>
            <th data-sortable="true">Poids</th>
            <th data-sortable="true">Plomb</th>
            <th data-sortable="false">Départ</th>
            <th data-sortable="false">Arrivée Tana</th>
            <th data-sortable="true">Client</th>
            <th data-field="id">idOp</th>
            <!-- <th>Option</th> -->
          </tr>
        </thead>

        <tbody>
          {% load l10n %}
          {% for i in operations %}
          {% if not i.Prep_Full %}
          <tr class="w3-sand">
            <td data-field="state" data-checkbox="true"></td>
            <td class="text-right">{{i.Reference_Reception}}</td>

            <td>{{i.Container}}</td>
            <td>{{i.BL_Num}}</td>
            <td>{{i.Importateur_Name}}</td>
            <td>{{i.Nbre_Colis}}</td>
            <td class="text-right">{{i.Poids}}</td>
            <td>{{i.Plomb}}</td>
            <td>{{i.Depart|localize}}</td>
            <td>{{i.Arrivee_Tana}}</td>
            <td>{{i.Client}}</td>
            <td>{{i.id}}</td>
            <!-- <td>
              <div class="dropdown">
                <button type="button" name="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a href="{% url 'editReception' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Reception</a>
                  <a href="{% url 'editPreparation' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Preparation</a>
                  <a href="{% url 'editDedouannement' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Dedouannement</a>
                  <a href="{% url 'editFacture' id=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Facture</a>
                  <a href="{% url 'deleteOperation' pk=i.pk %}" class="dropdown-item w3-hover-red"><i class="fas fa-trash w3-margin-right"></i>Supprimer</a>
                </div>
              </div>

            </td> -->
          </tr>
          {% else %}

          <tr>
            <td data-field="state" data-checkbox="true"></td>
            <td class="text-right">{{i.Reference_Reception}}</td>

            <td>{{i.Container}}</td>
            <td>{{i.BL_Num}}</td>
            <td>{{i.Importateur_Name}}</td>
            <td>{{i.Nbre_Colis}}</td>
            <td class="text-right">{{i.Poids}}</td>
            <td>{{i.Plomb}}</td>
            <td>{{i.Depart}}</td>
            <td>{{i.Arrivee_Tana}}</td>
            <td>{{i.Client}}</td>
            <td>{{i.id}}</td>

            <!-- <td>
              <div class="dropdown">
                <button type="button" name="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a href="{% url 'editReception' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Reception</a>
                  <a href="{% url 'editPreparation' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Preparation</a>
                  <a href="{% url 'editDedouannement' pk=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Dedouannement</a>
                  <a href="{% url 'editFacture' id=i.pk %}" class="dropdown-item w3-hover-green"><i class="fas fa-edit w3-margin-right"></i>Facture</a>
                  <a href="{% url 'deleteOperation' pk=i.pk %}" class="dropdown-item w3-hover-red"><i class="fas fa-trash w3-margin-right"></i>Supprimer</a>
                </div>
              </div>

            </td> -->
          </tr>
          {% endif %}

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="deleteConfirm" class="modal fade">
  <div class="modal-dialog w3-card-4">
    <div class="modal-content ">
      <header class="modal-header w3-red">
        <h2><i class="fas fa-exclamation-circle fa-fw w3-margin-right"></i>Confirmer</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </header>
      <div class="modal-body w3-pale-red w3-padding-24">
        <p id="confDelete">Confirmer la suppression de l'enregistrement</p>
      </div>
      <div class="modal-footer justify-content-center w3-pale-red w3-border-0">
        <button type="button" onclick="deleteOp()" class="btn btn-danger">Supprimer</button>
        <button type="button" data-dismiss="modal" class="btn btn-secondary">Annuler</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
{% load static %}
<!-- Core plugin JavaScript-->
<script src="{% static 'base/js/popper.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap-table.min.js'%}"></script>

<!-- Custom script for this page -->
<script src="{% static 'base/js/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'base/js/tableExport.min.js' %}"></script>
<script src="{% static 'base/js/jspdf.min.js'%}"></script>
<script src="{% static 'base/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-mobile.min.js' %}"></script>
<!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script> -->
{% include "base/modal.html" %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#pageTitle").addClass("fas fa-cogs fa-fw w3-margin-right text-gray-800").parent().toggleClass("text-primary text-gray-800");
    $("#operationMenu").addClass("active");
    $("#accordionSidebar").removeClass("bg-gradient-primary").addClass("bg-gradient-dark")
  });
</script>
<script>
  var $table = $('#tableTest1')
  var $btnReception = $('#btnReception')
  var selections = []
  $(document).ready(() => $table.bootstrapTable('hideColumn', 'id'))
  $(document).change(() => {
    let check = $("#btnPreparation").attr("disabled");
    console.log(`check = ${check}`)
    if (check == "disabled") {
      document.querySelectorAll('[disabled="disabled"]').forEach(() => {
        console.log(this.style.color);
      })
    }
  })

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      console.log("row.id = " + row.id)
      return row.id
    })
  }

  function getRefSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      console.log("row.id = " + row.ref)
      return row.ref
    })
  }
  $table.on('check.bs.table uncheck.bs.table ' +
    'check-all.bs.table uncheck-all.bs.table',
    function () {
      $btnReception.prop('disabled', !$table.bootstrapTable('getSelections').length)
      $("#btnPreparation").prop('disabled', !$table.bootstrapTable('getSelections').length)
      $("#btnDedouanement").prop('disabled', !$table.bootstrapTable('getSelections').length)
      $("#btnDelete").prop('disabled', !$table.bootstrapTable('getSelections').length)

      // save your data, here just save the current page
      selections = getIdSelections()
      // push or splice the selections if you want to save all data selections

    })
  $table.on('check.bs.table', function () {
    $("#btnReception,#btnPreparation,#btnDedouanement,#btnDelete").removeClass("disabled")
  })
  $table.on('uncheck.bs.table', function () {
    $("#btnReception,#btnPreparation,#btnDedouanement,#btnDelete").addClass("disabled")
  })
  $btnReception.click(function () {
    let ids = getIdSelections()
    console.log(ids)
    let url = "{% url 'editReception' pk=123 %}"
    document.location.href = url.replace('123', ids)
  })
  $("#btnPreparation").click(function () {
    let ids = getIdSelections()
    console.log(ids)
    let url = "{% url 'editPreparation' pk=123 %}"
    document.location.href = url.replace('123', ids)
  })
  $("#btnDedouanement").click(function () {
    let ids = getIdSelections()
    console.log(ids)
    let url = "{% url 'editDedouannement' pk=123 %}"
    document.location.href = url.replace('123', ids)
  })
  $("#btnDelete").click(function () {
    const myNode = document.getElementById("confDelete");
    while (myNode.firstChild) {
      myNode.removeChild(myNode.lastChild)
    }
    refs = getRefSelections();
    p = document.createElement("span");
    p.innerHTML = `Voulez-vous supprimer de l'enregistrement ${refs}?`;
    document.getElementById("confDelete").appendChild(p);
    $('#deleteConfirm').modal();

  })

  function deleteOp() {
    let ids = getIdSelections()
    console.log(ids)
    let url = "{% url 'deleteOperation' pk=123 %}"
    document.location.href = url.replace('123', ids)
  }
  $(document).ready(() => {
    if (window.innerWidth < 1200) {
      $("#newRec, #edReception, #edPreparation, #edDedouannement, #edSupprimer").remove()
    }
  })
</script>
{% endblock js %}