{% extends "base/main.html" %}
{% load static  %}
{% block content %}
{% load l10n %}
<link rel="stylesheet" href="{% static 'facture/css/kendo.common-material.min.css' %}">
<link rel="stylesheet" href="{% static 'facture/css/kendo.material.min.css' %}">
<link rel="stylesheet" href="{% static 'facture/css/style.css' %}">
<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-cogs w3-xlarge w3-margin-right"></i>Operation</h1>
<hr>
<h2 class="text-center">Prévisualisation de la facture</h2>
{% localize on %}

<br>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8 pre-scrollable" style="max-height:60vh">
    <div class="invoice overflow-auto" id="myCanvas">
      <div style="min-width: 600px">
        <header>
          <div class="row">
            <div class="col">
              <a target="_blank" href="#">
                <img src="{% static 'base/assets/Logo.png' %}" data-holder-rendered="true" style="height:80%" />
              </a>
            </div>
            <div class="col company-details">
              <h2 class="name">
                <a target="_blank" href="">
                  Mateza Transit
                </a>
              </h2>
              <div>Préstataire de service à l'import et à l'export</div>
              <div>Siège social: Lot V V 91 Ter A Manakambahiny</div>
              <div>Tél: 0342550188</div>
              <div>email: evadpro@live.fr</div>
              <div>NIF: 4001936458</div>
              <div>Stat: 46101112015010315</div>
            </div>
          </div>
        </header>
        <main>
          <div class="row contacts">
            <div class="col invoice-to">
              <div class="text-gray-light">DOIT:</div>
              <h2 class="to">{{client}}</h2>
              <div class="address">{{Facture.Facture_Adresse_Client}}</div>
              <div class="email">{{Facture.Facture_Contact_Client}}</div>
              <div class="contacts">
                {{Facture.email_client}}
              </div>
            </div>
            <div class="col invoice-details">
              <h1 class="invoice-id">FACTURE N°<span class="w3-margin-left">{{Facture.Facture_Num_Facture}}</span></h1>
              <div class="date">Date: <span>{{Facture.Facture_Date_Facture|localize}}</span></div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th data-sortable="true" class="w3-large"><b>Désignation</b> </th>
                  <th data-sortable="true" class="text-right w3-large"><b>Montant</b> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% if Facture.Facture_OT_Honoraire != None %}
                  <td class="w3-large">
                    OT - Honoraire
                  </td>

                  <td class="total">{{Facture.Facture_OT_Honoraire}}</td>
                  {% endif %}

                </tr>
                <tr>
                  {% if Facture.Facture_BAD_Montant != None %}
                  <td class="w3-large">
                    BAD
                  </td>
                  <td class="total">{{Facture.Facture_BAD_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Overstay_Montant != None %}
                <tr>
                  <td class="w3-large">
                    Overstay
                  </td>
                  <td class="total">{{Facture.Facture_Overstay_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Surestaries_Montant != None %}
                <tr>
                  <td class="w3-large">
                    Surestaries
                  </td>
                  <td class="total">{{Facture.Facture_Surestaries_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Debarquement != None %}
                <tr>
                  <td class="w3-large">
                    Debarquement
                  </td>
                  <td class="total">{{Facture.Facture_Debarquement}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Magasinage_Montant != None %}
                <tr>
                  <td class="w3-large">
                    Magasinage
                  </td>
                  <td class="total">{{Facture.Facture_Magasinage_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Droit_Compromis != None %}
                <tr>
                  <td class="w3-large">
                    Droit compromis
                  </td>
                  <td class="total">{{Facture.Facture_Droit_Compromis}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Amende_Montant != None %}
                <tr>
                  <td class="w3-large">
                    Amende
                  </td>
                  <td class="total">{{Facture.Facture_Amende_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_OV_Montant != None %}
                <tr>
                  <td class="w3-large">
                    OV
                  </td>
                  <td class="total">{{Facture.Facture_OV_Montant}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_OV_Docker != None %}
                <tr>
                  <td class="w3-large">
                    Docker
                  </td>
                  <td class="total">{{Facture.Facture_OV_Docker}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Montant_Fret != None %}
                <tr>
                  <td class="w3-large">
                    Fret
                  </td>
                  <td class="total">{{Facture.Facture_Montant_Fret}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Immobilisation != None %}
                <tr>
                  <td class="w3-large">
                    Immobilisation
                  </td>
                  <td class="total">{{Facture.Facture_Immobilisation}}</td>
                </tr>
                {% endif %}
                {% if Facture.Facture_Autres_Montant != None %}
                <tr>
                  <td class="w3-large">
                    Autres montant
                  </td>
                  <td class="total">{{Facture.Facture_Autres_Montant}}</td>
                </tr>
                {% endif %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="1">SOUS TOTAL [Ar]</td>
                  <td>{{Facture.Facture_SousTotal}}</td>
                </tr>
                <tr>
                  <td colspan="1">TAXE %</td>
                  <td>{{Facture.Tax}}</td>
                </tr>
                <tr>
                  <td colspan="1">GRAND TOTAL [Ar]</td>
                  <td>{{Facture.TotalFacture}}</td>
                </tr>
              </tfoot>
            </table>

          </div>
        </main>
        <footer>
          Invoice was created on a computer and is valid without the signature and seal.
        </footer>
      </div>
      <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
      <div></div>
    </div>
  </div>


</div>
{% endlocalize %}
<hr class="mb-3">
<div class="row justify-content-center">
  <div class="">
    <a href="{% url 'indexOperation' %}" class="btn btn-secondary"><i class="fas fa-chevron-left fa-fw"></i>Retour</a>
    <a href="{% url 'editFacture' id=id %}" class="btn btn-info"><i class="fas fa-edit fa-fw"></i>Editer</a>
    <button class="btn btn-success" onclick="ExportPdf()"><i class="fa fa-file-pdf fa-fw"></i> Export PDF</button>
  </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'facture/js/jszip.min.js' %}" charset="utf-8"></script>
<script src="{% static 'facture/js/kendo.all.min.js' %}" charset="utf-8"></script>
<script src="{% static 'facture/js/script.js' %}" charset="utf-8"></script>
{% endblock js %}
